/*card set*/


/*  !important; <---- overwrite css to current css class*/
.card-body {
    background-color: #ececec  !important;
    transition: box-shadow .3s;
    
}


.box_shadow:hover{

    box-shadow: 0 0 20px rgba(33,33,33,.2); 
}


.breadcrumb {
   
    padding: 0.30rem 1rem !important;
    margin-bottom: 0px !important;
    }


 /*nav pills*/

 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff ;
    background-color: #818284 !important;
}

 
.nav-pills .nav-link {
    border-radius: 3.25rem !important;
}

h1{
	text-align:center;
	text-decoration:underline;
	}


	/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
 
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

.headtext{

    text-align: center;
    font-size: 24px;
    color: #23a77b;
 
}
.table-style{
	 	margin-top: 25px;  
    	margin-top: 25px;
    	background-color: whitesmoke;
    	border-radius: 10px;
    	padding-top: 15px;
	 }
	 
.card-body {
    background-color: #d9efe7;
}

 .auth{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    margin-top: 18%;
      

 }


.back-img{
    /*background-image: url("https://i.pinimg.com/originals/e6/2c/e2/e62ce279eec3758f2ea29b5894b050c1.jpg");*/
    background-image:  url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: red,

}

.back-overlay{
       height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(220, 220, 220, 0.4);
    }

    .back-img{
    /*background-image: url("https://i.pinimg.com/originals/e6/2c/e2/e62ce279eec3758f2ea29b5894b050c1.jpg");*/
    background-image:  url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: red,

}